body
{
    background-color: blueviolet;
    color:chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
}

.box1
{
    background-color:rgb(0, 162, 255);
    color:rgb(255, 145, 0);
}

.container
{
    width: 80%;
    margin:auto; 
}